name: CI and Deploy

on:
  push:
    branches:
      - '**'  # Run tests on all branches

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'  # Use Python 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install git+https://github.com/gabriele-ferrero/TRIOMA.git

    - name: Run tests
      run: |
        pytest --cov=TRIOMA.tools --cov-report=xml

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v4.0.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
      env:
        pythonLocation: /opt/hostedtoolcache/Python/3.11.9/x64
        LD_LIBRARY_PATH: /opt/hostedtoolcache/Python/3.11.9/x64/lib
  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: test

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'  # Use Python 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # pip install -r requirements.txt
        pip install git+https://github.com/gabriele-ferrero/TRIOMA.git
        pip install sphinx sphinx-rtd-theme
    - name: Build the project
      run: |
        cd docs/
        make html
        cd ..
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/_build/html